<%- include ("./parts/header") %>
<!DOCTYPE html>
<html>
   <head>
      <title>Home Page</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   </head>
   <body>
      <div class="Main">
        <div class="headerHeading">
          <h1>FIREFOX</h1>
        </div>
        <div class="headerSubHeading">
          <h5>The only bot you will need to improve your server</h5>
        </div>
        <ul class="nav justify-content-center">
          <li>
            <a class="btn btn-dark btn-outline-primary" href="https://discordapp.com/oauth2/authorize?client_id=653941114751156236&permissions=0&redirect_uri=https%3A%2F%2Ffirefoxbot1.glitch.me%2Fcallback&scope=bot" role="button">
              <span>
                <i class="fa fa-plus" aria-hidden="true"></i>
              </span>
              Invite me 
            </a>
        <button type="button"  class="btn btn-dark btn-outline-primary" href="https://discordapp.com/oauth2/authorize?client_id=653941114751156236&permissions=0&redirect_uri=https%3A%2F%2Ffirefoxbot1.glitch.me%2Fcallback&scope=bot" style="margin: 5px 5px 5px 5px;">JOIN SERVER</button>
        </li>
          
       
          
          
        </ul>
      </div>
   </body>
     <style>
       .Main {
         text-align: center;
         width: 100%;
         height: 510px;
         background-image: linear-gradient(to bottom, #0000ff, #0a0eff);
       }
       .headerHeading {
         padding: 80px 5px 5px 5px;
         font-size: 50px;
         color: white;
         text-shadow: 0 3px black;
         font-family: "montserrat",sans-serif;
         font-style: bold;
       }
         .headerSubHeading {
         padding: 10px 5px 5px 5px;
         font-size: 20px;
         color: white;
         text-shadow: 0px 0px 2px #00ffff;
         font-family: "montserrat",sans-serif;
         font-style: bold;
       }
       a {
         text-decoration: none;
       }
     </style>
  

  
</html>